

<ul class='endpoints' id='{{id}}_endpoint_list'>
  <li class='endpoint-description' id='{{id}}_info'>
    <div class='operation'>
      <div class='content'>
        <div class='heading'>
          <h2>{{id}}</h2>
        </div>  
        <div class='action-summary'>
          {{{summary}}}
        </div>
        <span class='path'>
          <a href='#!/{{id}}/info'></a>
        </span>
      </div>
    </div>
  </li>
</ul>